[Unit]
Description=OpenVPN Service
After=docker.service vpnconfig_pihole.service
Requires=docker.service vpnconfig_pihole.service

[Service]
ExecStart=/usr/local/bin/ovpn start
ExecStop=/usr/local/bin/ovpn stop

[Install]
WantedBy=multi-user.target
